<template name="forms">
	<h3 id="handler" class="handler-register">Register</h3>
	<h3 id="handler" class="handler-login">Login</h3>

	<div id="forms" class="register-form">
		<form id="register-form" action="">
			<input type="email" id="account-email" placeholder="Your Email Adress"/>
			<input type="password" id="account-password" placeholder="Password"/>
			<input type="submit" id="create-account" value="Create an Account" />
		</form>
	</div>

	<div id="forms" class="login-form">
	<form id="login-form" action="">
		<input type="email" id="login-email" placeholder="Email"/>
		<input type="password" id="login-password" placeholder="Password"/>
		<input type="submit" id="login-button" value="Sign in" />
	</form>
	</div>
</template>
